<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${pageTitle}">Título por defecto</title>
<!-- Enlaces a recursos estáticos con Thymeleaf -->
<link th:href="@{/css/styles.css}" rel="stylesheet">
<script th:src="@{/js/scripts.js}" defer></script>
</head>

<body>
	<h1>Creacion de Categorias</h1>

	<form th:action="@{/categorias/save}" method="post">
		<label for="nombre">Nombre:</label><br> <input type="text"
			name="nombre" value=""><br> <label for="descripcion">Apellido:</label><br>
		<input type="text" name="descripcion" value=""><br>
		<br> <input type="submit" value="Guardar">
	</form>
</body>

</html>